fa
{
    cursor:pointer;
}

.textOn
{
    position: absolute;
}

.textUnder
{
    position: relative;
}

.descOn
{
    position: absolute;
}

.descUnder
{
    position: relative;
}

.todoSort
{
    cursor: pointer;
}

.todoSort:hover
{
    color: red;
}