<h3 class="text-success border border-danger text-center py-1 mt-1 rounded-pill bg-light"><fa name="calendar-check" animation="spin"></fa>  <span placement="bottom" ngbTooltip="Sa Mwen Ni Pou Fè (Ce que j'ai à faire)" > {{ title }} </span>  <fa name="calendar-check" animation="spin"></fa></h3>
<app-all-lists></app-all-lists>