<div class="card-footer text-muted">
	<div class="card text-white bg-dark">
		<div class="card-header text-danger h3 font-weight-bold text-center">Saisir une nouvelle tâche :</div>
		<div class="card-body">
			<form #form="ngForm" autocomplete="off" (submit)="onAddNewTodo(form)">
				<input name="date" #date="ngModel" [(ngModel)]="addDate" type="hidden">
				<!-- <input name="text" #text="ngModel" [(ngModel)]="service.todoForm.text" type="text" class="form-control" placeholder="Nom de la todo" aria-label="Nom de la todo" aria-describedby="button-addon2">
				<input name="description" #description="ngModel" [(ngModel)]="service.todoForm.description" type="text" class="form-control" placeholder="Description" aria-label="Description" aria-describedby="button-addon2"> -->
				<div class="row d-flex justify-content-between">
					<div class="col-12 col-md-4">
						<mat-form-field class="mat-input-style">
							<input autofocus class="placeholder" color="warn" name="text" #text="ngModel" [(ngModel)]="service.todoForm.text" matInput placeholder="Nom de la tâche">
						</mat-form-field>
					</div>
					<div class="col-12 col-md-6">
						<mat-form-field class="mat-input-style">
							<input name="description" #description="ngModel" [(ngModel)]="service.todoForm.description" matInput placeholder="Description de la tâche">
						</mat-form-field>
					</div>
					<div class="col-12 col-md-1 mr-2">
						<button placement="top" ngbTooltip="Créer une nouvelle tâche" [disabled]="!service.todoForm.text" mat-fab color="primary" class="font-weight-bold">Valider</button>
					</div>
					<!-- <button [disabled]="!service.todoForm.text" class="btn btn-success" type="submit" id="button-addon2">Nouvelle tâche</button> -->
				</div>
				<div class="col-auto mt-3 my-1 d-flex justify-content-start">
					<mat-slide-toggle color="primary" name="done" #done="ngModel" [(ngModel)]="service.todoForm.done">Achevée</mat-slide-toggle>
				</div>
			</form>
		</div>
	</div>	
</div>